@media (max-width: 500px) {

  body {
    max-width: 100%;
  }

  .bg-top-right img {
    width: 100px;
    height: 100px;
    right: -10%;
  }

  .bg-top-left img {
    width: 100px;
    height: 100px;
    top: -5%;
    left: -5%;
  }

  .mainarea {
    max-width: 100%;
  }

  form {
    z-index: 1000;
  }

  form .formtop {
    margin: 15px;
  }

  .bg-btm {
    height: 0;
    width: 100%;
  }

  .bg-btm-left img {
    width: 100px;
    height: 100px;
    left: -8.5%;
    bottom: -2.5%;
  }
  
  .bg-btm-right img {
    width: 100px;
    height: 100px;
    right: -8.5%;
    bottom: -2.5%;
  }

  .btm-link {
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  
}